<div id="bar" class="shadow">
	<div class="padder">
		<input class="task-add" type="text" name="new-task" placeholder="New task..." style="width: 70%;">
		<a class="button" href="#" style="width: 5%;">Add task</a>
		
		<div class="right" style="width: 20%; padding: 11px 0;">
			<ul>
				<li><a href="#">Log in</a></li>
				<li><a href="#">What is Mana Do?</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="content">
	It's simple. We, uh, kill the Batman.<br><br>Bane was a member of the League of Shadows. And then he was excommunicated. And any man who is too extreme for Ra's Al Ghul, is not to be trifled with.<br><br>You fight like a younger man, there's nothing held back. It's admirable, but mistaken.<br><br>Because some men aren't looking for anything logical, like money. They can't be bought, bullied, reasoned or negotiated with. Some men just wanna watch the world burn.<br><br>And as for the television's so-called plan, Batman has no jurisdiction.<br><br>Are you so desperate to fight criminals that you lock yourself in to take them on one at a time ?<br><br>I know why you choose to have your little, ahem... group-therapy sessions in broad daylight. I know why you're afraid to go out at night. The Batman.<br><br>It's not who I am underneath but what I do that defines me.<br><br>You have inspired good. But you spat in the faces of Gotham's criminals. Didn't you think there might be casualties? Things always get worse before they get better.<br><br>My anger outweights my guilt.<br><br>Let me get this straight. You think that your client, one of the wealthiest, most powerful men in the world is secretly a vigilante who spends his nights beating criminals to a pulp with his bare hands and your plan is to blackmail this person? Good luck.<br><br>No, no, no, I kill the bus driver.<br><br>How about a magic trick? I'm gonna make this pencil disappear. Ta-da!<br><br>Seven hundred twelve counts of extortion. Eight hundred and forty-nine counts of racketeering. Two hundred and forty-six counts of fraud. Eighty-seven counts of conspiracy murder.Five hundred and twenty-seven counts of obstruction of justice. How do the defendants plead?<br><br>It means you're hatred, and it also means losing someone, who I've cared for since I first heard his cries echoing through this house. But it might also mean saving your life. And that is mo...<br><br>
	It's simple. We, uh, kill the Batman.<br><br>Bane was a member of the League of Shadows. And then he was excommunicated. And any man who is too extreme for Ra's Al Ghul, is not to be trifled with.<br><br>You fight like a younger man, there's nothing held back. It's admirable, but mistaken.<br><br>Because some men aren't looking for anything logical, like money. They can't be bought, bullied, reasoned or negotiated with. Some men just wanna watch the world burn.<br><br>And as for the television's so-called plan, Batman has no jurisdiction.<br><br>Are you so desperate to fight criminals that you lock yourself in to take them on one at a time ?<br><br>I know why you choose to have your little, ahem... group-therapy sessions in broad daylight. I know why you're afraid to go out at night. The Batman.<br><br>It's not who I am underneath but what I do that defines me.<br><br>You have inspired good. But you spat in the faces of Gotham's criminals. Didn't you think there might be casualties? Things always get worse before they get better.<br><br>My anger outweights my guilt.<br><br>Let me get this straight. You think that your client, one of the wealthiest, most powerful men in the world is secretly a vigilante who spends his nights beating criminals to a pulp with his bare hands and your plan is to blackmail this person? Good luck.<br><br>No, no, no, I kill the bus driver.<br><br>How about a magic trick? I'm gonna make this pencil disappear. Ta-da!<br><br>Seven hundred twelve counts of extortion. Eight hundred and forty-nine counts of racketeering. Two hundred and forty-six counts of fraud. Eighty-seven counts of conspiracy murder.Five hundred and twenty-seven counts of obstruction of justice. How do the defendants plead?<br><br>It means you're hatred, and it also means losing someone, who I've cared for since I first heard his cries echoing through this house. But it might also mean saving your life. And that is mo...
</div>

<div id="sidebar" class="shadow">
	<div class="subtle padder">
		Stats go here...
	</div>
</div>