<div id="bar" class="shadow">
	<div class="padder">
		<form action="tasks/create" method="POST">
			<input class="task-add" type="text" name="name" placeholder="New task..." style="width: 70%;">
			<input type="submit" class="button" value="Add task" style="width: 5%;"></a>
		</form>

		<div class="right" style="width: 20%; padding: 11px 0;">
			<ul>
				<li><a href="#">Log in</a></li>
				<li><a href="#">What is Mana Do?</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="content">
	<ul id="task-list">
		<% tasks.forEach(function(task) { %>
			<li><%= task.name %></li>
		<% }); %>
	</ul>
</div>

<div id="sidebar" class="shadow">
	<div class="subtle padder">
		<h1><%= stats.awaiting %></h1>
		left to go

		<canvas id="awaiting-chart" width="150" height="150"></canvas>
	</div>
</div>